[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=tab
tab_width=2

[{*.sht,*.twig,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=4

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=space
indent_size=4

[{phpunit.xml.dist,*.jhm,*.xjb,*.rng,*.wsdl,*.fxml,*.qrc,*.plan,*.pom,*.xslt,*.jrxml,*.ant,*.svg,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.wsdd,*.wadl,*.xml}]
indent_style=space
indent_size=4

[{.babelrc,.stylelintrc,.eslintrc,jest.config,*.bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=space
indent_size=2

[*.java]
indent_style=space
indent_size=4

[*.clj]
indent_style=space
indent_size=2

[*.cljs]
indent_style=space
indent_size=2

[*.cljc]
indent_style=space
indent_size=2

[*.edn]
indent_style=space
indent_size=2

[*.css]
indent_style=space
indent_size=4

[{*.applejs,*.js}]
indent_style=space
indent_size=2

[{*.jscs.json,*.jscsrc}]
indent_style=space
indent_size=2

[{*.ddl,*.sql}]
indent_style=space
indent_size=2

[{*.module,*.hphp,*.phtml,*.php5,*.php4,*.php,*.inc}]
indent_style=space
indent_size=4

[{*.gson,*.gradle,*.groovy,*.gant,*.gdsl,*.gy}]
indent_style=space
indent_size=4

[*.coffee]
indent_style=space
indent_size=2

[*.less]
indent_style=space
indent_size=2

[*.sass]
indent_style=space
indent_size=2

[*.scss]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

