@import (reference) "_variables";

tv {
  card {
    padding: 0;
  }
  tbody {
    max-height: 25em;
    overflow-y: hidden;
  }

  td, tdp, tdh {
    padding: 0.5rem !important;
  }

  th:nth-child(n+3), thh,
  td:nth-child(n+3), tdh {
    text-align: center;
  }

}

#tv-page {
  nav {
    background-color: @primary--;
    header {
      a {
        display: block;
        text-align: center;
        width: 100%;
      }
    }

  }
  page {
    background-color: @primary;
    card {
      background-color: @primary--;
    }
    section:first-of-type {
      margin: 0 !important;
      margin-top: 0.5rem !important;
      padding-left: 0rem;
      padding-right: 0rem;
    }
  }
}
