<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Welcome to Centrebull</title>
</head>
<body>

<div id="app">
    <page style="text-align: center">
        <card>
            <h1>Welcome to Centrebull!</h1>
            <p>The app is currently loading... it shouldn't take long.</p>
            <h3>While it loads</h3>
            <p>We would like to take the opportunity to thank the developers who assisted in
                building this application:</p>
            <ul>
                <li>Alexander Scott</li>
                <li>Caleb MacDonald Black</li>
                <li>Dean Ditton</li>
                <li>Lachlan Robertson</li>
            </ul>
        </card>
    </page>
</div>

<!-- scripts and styles -->
{% style "/css/bare.css" %}

<script type="text/javascript">
    var context = "{{servlet-context}}";
</script>
{% script "/js/app.js" %}
</body>
</html>




